body{
    margin:0;
    padding:0;
    background-image:url(./assets/formbg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.text1{
    margin-top: 40px;
    text-align:center;
    font-size: 25px;
    color:  rgb(73, 0, 69);
}
.text2{
    margin-top: 50px;
    text-align:center;
    font-size: 25px;
    color:  rgb(73, 0, 69);
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width:600px;
    margin:0 auto;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.21);
    margin-top: 80px;
    border-radius: 15px;
}

label{
    display: block;
}

input[type="text"],
input[type="email"],
input[type="add"],
textarea{
    width: 100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button{
    background-color:rgb(255, 191, 0);
    color: white;
    padding:10px 20px;
    border: none;
    border-radius: 3px;
    cursor:pointer;
    margin-top: 15px;
}

button:hover{
    background-color: rgb(255, 0, 238);
}